<!DOCTYPE html> 
{% autoescape true %} 
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"
</head>
  <body>
    <form align="right">
      <input value="{{ list_name }}" name="list_name">
      <input type="submit" value="change list">
    </form>
    <h1> {{title}}</h1>
    
    <form align="center" action=?list_name={{ list_name }} method="post">
    <ol>
    <table align = "center"> 
    {% for c in listcontents %}
       <tr align = "left"><td>
       <li>
       {% if c.checked %}
         <strike> {{ c.content }} </strike>
         <input type = "checkbox" name = "{{c.content}}" checked>
       {% else %}
         {{ c.content }}
         <input type = "checkbox" name = "{{c.content}}" > 
       {% endif %}
       <a href="/delete?list_name={{ list_name }}&urlString={{urlStrings[c.content]}}">
       <img src= "images/trashcan.png" alt= "Trash Can" height="14" width="14"> </li>
       </a>
       </td></tr>
    {% endfor %}
    </table>
    </ol>
    <input type = "submit" value = "Check Them Off" >
    </form>

    <form action=add?list_name={{ list_name }} align="center" method="post">
      <div><input type="submit" value="Add To List">
      <textarea name="content" rows="1" cols="60"></textarea></div>
    </form>

    <hr>


    <a href="{{ url|safe }}">{{ url_linktext }}</a>
  </body>
</html>
{% endautoescape %} 
